# Introduction

The purpose of this Notebook is to illustrate some extreme phenotypes we have
of alternative splicing, which prompts to maybe filter those out before
reasonable analysis can be performed

Couple of imports first

In [1]:
from __future__ import division
import bokeh as bk
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')
import pandas as pd
import msgpack
import toolz
import scipy.stats as st
import matplotlib.pylab as plt
import numpy as np
from multiprocessing import Pool

Function that retrieves all the genes we have.

In [2]:
def get_genes():
    with open('genes.msg', 'rb') as f:
        return set(msgpack.unpackb(f.read()))

Notice how fast we can retrieve then:

In [3]:
%%time
genes = get_genes()

CPU times: user 4.55 ms, sys: 3.86 ms, total: 8.41 ms
Wall time: 8.17 ms

We also load ``{gene -> intron}`` map. Each gene usually has around
300 intron retention sites, but some of them has only one.

In [4]:
def get_gene_map_intron():
    with open('gene_map_intron.msg', 'rb') as f:
        return dict(msgpack.unpackb(f.read()))

In [5]:
%%time
gene_map_intron = get_gene_map_intron()

CPU times: user 255 ms, sys: 88.9 ms, total: 344 ms
Wall time: 343 ms

In [6]:
def read_gene(gene):
    df = pd.read_hdf('introns_events_3.h5', 'df', where="(gene == '%s')" % (gene,))
    df['nsuc'] = df['nread0']
    df['ntri'] = df['nread0'] + df['nread1']
    del df['nread0']
    del df['nread1']
    df = df.reset_index()
    del df['gene']
    del df['assay']
    df.name = gene
    return df

def frequency_data(df):
    return df.groupby(['intron', 'ntri']).size().unstack(level=0)

def valid_ones(x):
    x = np.asarray(x)
    return x[np.isfinite(x)]

We now compute per-gene the average skewness of ntrials frequency curve
(ntrials on x-axis vs sample frequency on y-axis) across intron sites.

In [7]:
def compute_ntri_freq_skew(gene):
    df = read_gene(gene)
    data = frequency_data(df)
    return data.apply(lambda x: st.skew(valid_ones(x))).mean()

p = Pool(20)
ntri_freq_skew = p.map(compute_ntri_freq_skew, genes)

Let gets the two extrema cases.

In [12]:
imin, imax = np.argmin(ntri_freq_skew), np.argmax(ntri_freq_skew)

In [21]:
def get_freq_data(gene):
    df = read_gene(gene)
    return df.groupby(['intron', 'ntri']).size().unstack(level=0)

def plot_frequencies(gene):
    def get_extremes(x):
        x = np.asarray(x).ravel()
        x = x[~np.isnan(x)]

        return np.min(x), np.percentile(x, 99.5), np.max(x)


    
    f, ((ax00, ax01), (ax10, ax11)) = plt.subplots(2, 2, facecolor='w',
                                                  sharex='col', sharey='row',
                                                  figsize=(10,5))
    data = get_freq_data(gene)
    df = read_gene(gene).groupby(['intron', 'ntri']).size().unstack(level=0)

    ax00 = data.plot(ax=ax00, legend=False, title=None)
    ax01 = data.plot(ax=ax01, legend=False, title=None)

    ax10 = data.plot(ax=ax10, legend=False, title=None)
    ax11 = data.plot(ax=ax11, legend=False, title=None)

    x0, x1, x2 = get_extremes(df['ntri'])
    y0, y1, y2 = get_extremes(data)

    ax00.set_ylim(y1, y2)
    ax00.set_xlim(x0, x1)

    ax01.set_ylim(y1, y2)
    ax01.set_xlim(x1, x2)

    ax10.set_ylim(y0, y1)
    ax10.set_xlim(x0, x1)

    ax11.set_ylim(y0, y1)
    ax11.set_xlim(x1, x2)

    ax00.set_ylabel('Frequency');
    ax10.set_ylabel('Frequency');

    return f.suptitle(gene0, fontsize=16)

In [14]:
gene_min, gene_max = list(genes)[imin], list(genes)[imax]

# Gene with the smallest skew

In [15]:
print("GENE: %s" % gene_min)
get_freq_data(gene_min)

GENE: ENSG00000225815

intron    1
ntri
0       569
2         2

Notice in the above table that this particular gene
has only one intron, and has only two unique number of trials:
zero and two, where 569 of the assays have number of trials
equal to zero.

# Gene with the biggest skew

In [16]:
print("GENE: %s" % gene_max)
get_freq_data(gene_max).sort_index().head()

GENE: ENSG00000166710

intron    1    2
ntri
1646    1.0  NaN
2128    NaN  1.0
27525   1.0  NaN
28008   1.0  NaN
28026   1.0  NaN

In [17]:
get_freq_data(gene_max).sort_index().tail()

intron   1    2
ntri
441784 NaN  1.0
449537 NaN  1.0
470593 NaN  1.0
474911 NaN  1.0
587359 NaN  1.0

The above gene has only two introns and the number of trials
is extremely large.
Lets see that in more detail.

In [35]:
df = read_gene(gene_max)
pd.set_option('display.precision', 1)
print("GENE: %s" % gene_max)
df.groupby('intron').describe()

GENE: ENSG00000166710

                nsuc      ntri
intron
1      count   571.0     571.0
       mean    204.8  101305.1
       std     132.0   42767.0
       min      19.0    1646.0
       25%     112.0   70312.0
       50%     178.0   98978.0
       75%     263.5  127952.5
       max    1124.0  318779.0
2      count   571.0     571.0
       mean    727.7  188759.5
       std     406.9   79093.1
       min      12.0    2128.0
       25%     432.0  131241.0
       50%     655.0  184894.0
       75%     934.0  236099.5
       max    2835.0  587359.0